{% extends 'base.html' %}

{% block title %}
Acerca de The Dead Ate My Friends
{% endblock %}

{% block activoAcerca %}
active
{% endblock %}

{% block contenido %}
    <div class="col-lg-11">
    <h1>Acerca de The Dead Ate My Friends</h1>
    <p class="text-justify">Se trata de un video juego gratuito para un jugador desarrollado por Double Jump Studios, que toma la supervivencia como elemento principal; género que ha demostrado tener éxito en los últimos años (Minecraft, RUST, DayZ son algunos ejemplos) combinándolo con elementos sociales y de juego casual. The DEAD ate my friends! pone al jugador en un mundo infestado de muertos vivientes, donde el objetivo será mantenerse con vida mientras encuentra a sus amigos, los cuales serán importados de su lista de amigos en Facebook. El objetivo es salvar a la mayor cantidad de amigos posibles antes de morir. La puntuación será representada por el número de amigos rescatados.</p>
    </div>

{% endblock %}